version: '3'
services:

  git:
    image: git
    container_name: git_docker_compose
    build: .
    command: git -C /build clone https://github.com/vlhuang/docker.git
    volumes:
      - ./build:/build
    ports:
      - 8080:80

  app:
    image: ubuntu
    build: 
      dockerfile: Dockerfile
    ports:
      - 8080:80
#ENV VA_HOME /usr/lib/jvm/java-7-openjdk-amd64

#RUN sed 's/main$/main universe/' -i /etc/apt/sources.list

#ENV DEBIAN_FRONTEND noninteractive

#RUN apt-get update

#RUN apt-get install -y openjdk-7-jre && apt-get clean &&\

#             mkdir temp_dir  &&   cd temp_dir && \

#             ${JAVA_HOME}/bin/jar -xvf somejar.jar  &&\

#             cd ..

#ENTRYPOINT ["somescript.sh"]

